version: '3'

services:
   db:
     container_name: PROJECTNAME_db
     image: mysql:5.7
     ports:
       - "3336:3306"
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: MYSQLROOTPASSWORD
       MYSQL_DATABASE: DATABASENAME
       MYSQL_USER: MYSQLUSER
       MYSQL_PASSWORD: MYSQLPASSWORD
     networks:
       - PROJECTNAME

   wp:
     container_name: PROJECTNAME_wp
     depends_on:
       - db
     image: registry.gitlab.com/forty4digital/wordpress-starter:latest
     ports:
       - 14225:80
     restart: always
     volumes:
       - "./wp-data:/var/www/html"
       - "./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini"
     environment:
       - "VIRTUAL_HOST=forty4d.local,*.forty4d.local"
       - "WORDPRESS_DB_HOST=db:3306"
       - "WORDPRESS_DB_NAME=DATABASENAME"
       - "WORDPRESS_DB_USER=MYSQLUSER"
       - "WORDPRESS_DB_PASSWORD=MYSQLPASSWORD"
     networks:
       - PROJECTNAME
       - nginx-proxy
volumes:
    db_data:
networks:
   PROJECTNAME:
   nginx-proxy:
      external:
         name: nginxproxy_default
